<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Order name:</strong>
  <%= @order.order_name %>
</p>

<p>
  <strong>Order price:</strong>
  <%= @order.order_price %>
</p>

<p>
  <strong>Order quantity:</strong>
  <%= @order.order_quantity %>
</p>

<%= @order.customer.name %><br>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
